POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
TRANSFER_DB_NAME=transfer_system

AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

AIRFLOW_UID=50000
