.env
*.env
!.env.example

logs/
plugins/*
!plugins/.gitkeep
*.pid

transfers_dwh/target/
transfers_dwh/dbt_packages/
transfers_dwh/logs/
transfers_dwh/.user.yml

__pycache__/
*.pyc
.venv/
venv/

.DS_Store
.idea/
.vscode/
